
.vs/PortalRegistroIncidencias/config/applicationhost.config
.vs/PortalRegistroIncidencias/v16/.suo
.vs/PortalRegistroIncidencias/v16/Server/sqlite3/storage.ide-shm
.vs/PortalRegistroIncidencias/v16/Server/sqlite3/storage.ide-wal
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/PortalRegistroIncidencias.csprojAssemblyReference.cache
