#btnLogin {
    display: none;
}

.w-100 {
    width: 100% !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}
.ml-10 {
margin-left: 5rem !important;
}

.initial-padding {
    padding-top: 80px;
}