
@{
    ViewBag.Title = "RegistroDeUsuarios";
}
    <link href="~/Content/configuracionFormularios.css" rel="stylesheet" />
<h2>Registro de usuarios</h2>
<br />
<br />
<div>
    <div>C&eacute;dula:&nbsp;</div>
    <div><input type="text" id="txtCedulaUsuario" /></div>
</div>
<br />
<div class="EnLinea">
    <div class="EnLinea">
        <div>Nombre:&nbsp;</div>
        <div><input type="text" id="txtNombreUsuario" /></div>
    </div>

    <div class="EnLinea">
        <div>Primer Apellido:&nbsp;</div>
        <div><input type="text" id="txtPrimerApellido" /></div>
    </div>
    <div class="EnLinea">
        <div>Segundo Apellido:&nbsp;</div>
        <div><input type="text" id="txtSegundoApellido" /></div>
    </div>
</div>
<br />

<div>
    <div class="EnLinea">
        <div>Provincia:&nbsp;</div>
        <div><input type="text" id="txtSegundoApellido" /></div>
    </div>
    <div class="EnLinea">
        <div>Cant&oacute;n:&nbsp;</div>
        <div><input type="text" id="txtCanton" /></div>
    </div>
    <div class="EnLinea">
        <div>Distrito:&nbsp;</div>
        <div><input type="text" id="txtDistrito" /></div>
    </div>
    <div class="EnLinea">
        <div>Direcci&oacute;n:&nbsp;</div>
        <div><input type="text" id="txtDireccion" /></div>
    </div>
</div>


<br />

<div>

    <div class="EnLinea">
        <div>Correo Electr&oacute;nico:&nbsp;</div>
        <div><input type="text" id="txtCorreo" /></div>
    </div>

    <div class="EnLinea">
        <div>Confirmar correo electr&oacute;nico:&nbsp;</div>
        <div><input type="text" id="txtConfirmarCorreo" /></div>
    </div>
</div>

<br />

<div>
    <div>N&uacute;mero de tel&eacute;fono:&nbsp;</div>
    <div><input type="text" id="txtNumeroTelefono" /></div>
</div>
<br /><br />
<div>
    <input type="button" value="Aceptar" /> 
    <input type="reset" value="Borrar" />
</div>

<br />